<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Classificação de Risco</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <div class="flash-container">
            <div class="flash-message"></div>
        </div>

        <nav class="nav-primary">
            <% const currentPage = 'risk-classification'; %>
            <%- include('partials/risk-classification-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b class="main-title">Classificação de Risco</b>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-start col-2">ID da Consulta</th>
                        <th scope="col" class="text-start">Nome do Paciente</th>
                        <th scope="col" class="text-center col-1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < records.length; i++) { %>
                        <tr>
                            <th scope="row" class="text-start"><%= records[i].id %></th>
                            <td class="text-start"><%= records[i].name %></td>
                            <td class="text-center">
                                <ul class="icon-list">
                                    <li class="icon-item">
                                        <div class="icon-container">
                                            <a href="/edit-record">
                                                <img class="action-icon" src="/images/editar.png" alt="Ícone de edição">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="icon-item">
                                        <div class="icon-container">
                                            <a href="/remove-record">
                                                <img class="action-icon" src="/images/remover.png" alt="Ícone de remoção">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    </body>

</html>