<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Fila de Consultas</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <%- include('partials/flash-container'); %>

        <nav class="nav-primary">
            <% const currentPage = 'record-queue'; %>
            <%- include('partials/doctor-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b class="main-title">Fila de Consultas</b>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-start col-2">ID da Consulta</th>
                        <th scope="col" class="text-start">Nome do Paciente</th>
                        <th scope="col" class="text-center col-1">Risco</th>
                        <th scope="col" class="text-center col-1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < records.length; i++) { %>
                        <tr>
                            <th scope="row" class="text-start"><%= records[i].id %></th>
                            <td class="text-start"><%= records[i].name %></td>
                            <td class="text-center">
                                <span class="risk<%= records[i].risk %>"><%= records[i].risk %></span>
                            </td>
                            <td class="text-center">
                                <ul class="icon-list">
                                    <li class="icon-item">
                                        <div class="icon-container">
                                            <a href="" data-toggle="modal" data-target="#myModalQ_<%= records[i].id %>">
                                                <img class="action-icon" src="/images/editar.png" alt="Ícone de edição">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="icon-item">
                                        <div class="icon-container">
                                            <a href="/remove-record">
                                                <img class="action-icon" src="/images/remover.png" alt="Ícone de remoção">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>


                        <script>
                            function closeModal(){
                                $("#myModalQ_<%= records[i].id %>").modal('hide');
                            }
                            console.log(records.length);
                        </script>

                        <div class="modal" id="myModalQ_<%= records[i].id %>">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Cabeçalho do modal -->
                                    <div class="modal-header">
                                    <h5 class="modal-title">Editar</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <form action="/record-queue" method="post" onsubmit="closeModal()">
                                    <!-- Corpo do modal -->
                                    <div class="modal-body">
                                        <div class="form-group form-content row">
                                        <b class="main-title">Informações do Paciente</b>
                                            <div class="col">
                                                <label for="inputName">Nome Completo <span class="required-color">*</span></label>
                                                <input readonly type="text" class="form-control" name="inputName" id="inputName" value="<%= records[i].name %>" placeholder="Digite aqui..." required >
                                            </div>
                                            <div class="col">
                                                <label for="inputBirthday">Data de Nascimento <span class="required-color">*</span></label>
                                                <input autocomplete="off" type="date" class="form-control" name="inputBirthday" id="inputBirthday" required>
                                            </div>

                                            <input type="hidden" class="form-control" name="inputRecordId" id="inputRecordId" value= <%= records[i].id %>>

                                        </div>
                                        <b class="main-title">Dados do Paciente</b>
                                        <div class="form-group form-content row">
                                            <div class="col">
                                                <label for="inputPressure">Pressão Arterial <span class="required-color">*</span></label>
                                                <input autocomplete="off" type="text" pattern="\d{2,3}/\d{2,3}" title="Digite a pressão arterial no formato sistólica/diastólica: 'NN/NNN ou NNN/NN'" class="form-control" name="inputPressure" id="inputPressure"
                                                placeholder="Digite aqui..." required>
                                            </div>
                                            <div class="col">
                                                <label for="inputTemperature">Temperatura Corporal<span class="required-color">*</span></label>
                                                <input autocomplete="off" type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control" name="inputTemperature" id="inputTemperature" placeholder="Digite aqui..." required>
                                            </div>
                                        </div>
                                        <div class="form-group form-content row">
                                            <div class="col">
                                                <label for="inputDescription">Descrição<span class="required-color">*</span></label>
                                                <textarea autocomplete="off" class="form-control no-resize" name="inputDescription" placeholder="Digite aqui.." rows="5"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- Rodapé do modal -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>                                        
                                        <button type="submit" class="btn btn-primary btn-dark-green">Salvar</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </tbody>
            </table>
        </div>

    </body>

</html>